* {
  padding: 0px;
  margin: 0px;
  user-select: none;
}

:root {
  --primary: #921442;
  --Secondary: #8c734b;
  --dark: #4a4a49;
  --light: #878787;
  --shadow: #c6c6c6;
  --plain: #fff;
}

html {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  font-family: "Fira Sans", sans-serif;
  background: var(--fff);
  margin: 30px 50ox;
  line-height: 1.4;
  text-align: center;
}

/* .info ul {
  justify-content: left;
  justify-items: left;
} */

/* .btn {
  background: var(--primary);
  color: var(--Secondary);
  padding: 0.6 rem 1.3rem;
  text-decoration: none;
  border: 0;
} */
/* 
img {
  max-width: 100%;
} */

/* .wrapper {
  display: grid;
  grid-gap: 20px;
  width: 960px;
} */
/* 
.first_form {
  display: grid;
  grid-gap: 20px;
} */

/* .threes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
} */

.top_bottom {
  display: block;
}

/* header {
  text-align: center;
}

.personal_info {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  position: static;
  max-width: 940px;
}

.threes {
  font-family: "Fira Sans", sans-serif;
  position: static;
  display: block;
  float: left;
  clear: both;
  text-align: left;
}

#threes_label {
  display: inline-block;
  width: 6em;
  position: relative;

}

#threes_field {
}
/*the following code belong to responsive properties*/
@media only screen and (min-width: 600px) {
}




.inputGroup{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input, select {
  margin: 10px 10px 10px 0;
}

.grid-item div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid-item .radioSection{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;
  
}
